[Desktop Entry]
Encoding=UTF-8
Name=Comical
Name[xx]=xxComicalxx
Exec=comical
Icon=comical
Type=Application
Comment=A simple wxWindows Application
Comment[ca]=Una simple aplicació wxWindows
Comment[da]=Et simpelt wxWindows program
Comment[de]=Eine einfache wxWindows-Anwendung
Comment[es]=Una aplicación wxWindows sencilla
Comment[et]=Lihtne wxWindows rakendus
Comment[fr]=Une application wxWindows simple.
Comment[hu]=Egyszerű wxWindows-alkalmazás
Comment[it]=Una semplice applicazione wxWindows
Comment[pt]=Uma aplicação wxWindows
Comment[pt_BR]=Um simples Aplicativo wxWindows
Comment[ru]=Простое приложение wxWindows
Comment[sr]=Проста wxWindows апликација
Comment[sv]=Ett enkelt wxWindows-program
Comment[xx]=xxA simple wxWindows Applicationxx
